body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

.btn{
    border: 2px solid lightcoral;
    color: lightgrey;
    padding: 2em;
    font-size: 1rem;
    cursor: pointer;
    margin: 1em;
    background-color: lightseagreen;
}
.btn:focus{
    outline: none;
}